.box{
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 21px 0;

        button{
            width: 33px;
            height: 32px;
            border-radius: 4px;
            background-color: var(--grey-3);
            border: none;
            color: var(--grey-0);
            font-size: 22px;
            cursor: pointer;
        }
    }

    .listSpace{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        ul{
            background-color: rgba(33,37,41,1);
            border-radius: 4px;
            width: 780px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}